/* W3.CSS 4.13 June 2019 by Jan Egil and Borge Refsnes */

/*RESPONSIVE DESIGN from W3Schools: https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_blog&stacked=h */
.w3-responsive{display:block;overflow-x:auto}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}
.w3-col {float:left;width:100%}
.w3-col.s1{width:8.33333%}.w3-col.s2{width:16.66666%}.w3-col.s3{width:24.99999%}.w3-col.s4{width:33.33333%}
.w3-col.s5{width:41.66666%}.w3-col.s6{width:49.99999%}.w3-col.s7{width:58.33333%}.w3-col.s8{width:66.66666%}
.w3-col.s9{width:74.99999%}.w3-col.s10{width:83.33333%}.w3-col.s11{width:91.66666%}.w3-col.s12{width:99.99999%}
@media (min-width:601px){.w3-col.m1{width:8.33333%}.w3-col.m2{width:16.66666%}.w3-col.m3,.w3-quarter{width:24.99999%}.w3-col.m4,.w3-third{width:33.33333%}
.w3-col.m5{width:41.66666%}.w3-col.m6,.w3-half{width:49.99999%}.w3-col.m7{width:58.33333%}.w3-col.m8,.w3-twothird{width:66.66666%}
.w3-col.m9,.w3-threequarter{width:74.99999%}.w3-col.m10{width:83.33333%}.w3-col.m11{width:91.66666%}.w3-col.m12{width:99.99999%}}
@media (min-width:993px){.w3-col.l1{width:8.33333%}.w3-col.l2{width:16.66666%}.w3-col.l3{width:24.99999%}.w3-col.l4{width:33.33333%}
.w3-col.l5{width:41.66666%}.w3-col.l6{width:49.99999%}.w3-col.l7{width:58.33333%}.w3-col.l8{width:66.66666%}
.w3-col.l9{width:74.99999%}.w3-col.l10{width:83.33333%}.w3-col.l11{width:91.66666%}.w3-col.l12{width:99.99999%}}
.w3-rest{overflow:hidden}.w3-stretch{margin-left:-16px;margin-right:-16px}
.w3-content,.w3-auto{margin-left:auto;margin-right:auto}.w3-content{max-width:980px}.w3-auto{max-width:1140px}
@media (max-width:1205px){.w3-auto{max-width:95%}}
.w3-mobile{display:block;width:100%}.w3-bar-item.w3-mobile,.w3-dropdown-hover.w3-mobile,.w3-dropdown-click.w3-mobile{text-align:center}
@media (max-width:992px) and (min-width:601px){.w3-hide-medium{display:none}}
@media (max-width:992px){.w3-sidebar.w3-collapse{display:none}.w3-main{margin-left:0;margin-right:0}.w3-auto{max-width:100%}}
.w3-top,.w3-bottom{position:fixed;width:100%;z-index:1}.w3-top{top:0}.w3-bottom{bottom:0}
.w3-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}


/*Sam Libby: Head*/

/*Aligning the Logo :Sam Libby*/
.logo {
  padding-right: 0px;
  padding-left: 50px;
  border-left-width: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
  float: left;
  width: 200px;
}

/* FONT */

.Services-Container{
  font-family: Trattatello, fantasy;
}

/* Font Source: https://www.cssfontstack.com/Mountains-of-Christmas */
h3,h2 {font-family: "Mountains of Christmas", serif;}
h1,h4,h5 {font-family: serif;}


/*Allan Bedan: Navbar* November 27 2019/
/* NAV BAR */
/* NAV BAR BORDER REFERENCE https://stackoverflow.com/questions/42707218/css-how-to-put-a-border-around-the-entire-nav-bar*/

#navbar {
  list-style-type: none;
  border-bottom: 3px solid #5F9239;
  border-style: outset;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  cursor: pointer;
}
  
li {
  float: left;
}

li a {
  display: block;
  color: #5F9239;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  transition: color 1s, background-color 1s;
}

/* Background transition based on https://www.w3schools.com/css/css3_transitions.asp: Allan Beldan*/

li a:hover {
    background-color: #5f9239;
    color: #ff1f00;
}
ul {
	position:sticky;
}

/* sticky from https://www.w3schools.com/css/css_navbar.asp */

/* end of 'nav bar' style */

/* Javascript Output style: Allan Beldan */

.jsout {
	text-align = "center";
	background-color = "Red";
}

/* End Javascript Out Style */



/* Style for Sleigh Technician Page: Allan Beldan */
/*Sleigh part image*/

.SleighPart {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  padding-top:5%;
  padding-bottom: 5%;
}


/*Emily*/
/*List in 'about me' page*/
.QualList {
  word-spacing: normal;
  list-style-type: Square;
  padding-left: 20%;
}

/* Emily*/
/*boder layout in service page*/
.Cost {
  text-align: left;
  border-width: 2px; 
  border-style: solid;
  border-color: red;
  border-radius: 12%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10%;
  padding-bottom:10%
}

/*Emily*/
/*Table*/
/*Column Formatting*/
td {
  padding-left: 15%;
  text-align: left;
  
}


/*Table*/
/*Column Formatting*/
th {
  padding-left: 10%;
  text-align: left;
  font-size: 130%;
  font-family: "Mountains of Christmas";
}
/*Emily's Part over*/


/*All p tags will be arial font*/
p{
  font-family: Arial;
}

/* Aligning the Employee Pictures to be centred - Sam Libby */
/* Referred to: https://stackoverflow.com/questions/5214893/right-align-an-image-using-css-html*/
.employee-pic {
    padding-top: 70px;
    padding-bottom: 20px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.employee-page {
  margin-left:20%;
}

/*Sam*/
.Reindeer2 {
  padding-top: 70px;
  padding-bottom: 20px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Sam */
/* Referred to: https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
.list {
  width: 250px;
  height: 450px;
  padding: 20px;  
  border: 5px dotted green;
  margin: auto;
}

/*Used Sam's format*/
.list2 {
  text-align: center;
  width: 200px;
  height: 250px;
  padding: 20px;  
  border: 5px dotted green;
  margin: auto;
}

/* Sam - Formatting Boxes on Home Page */
.services_home_left {
  width: 500px;
  height: 250px;
  padding: 50px;
  border: none;
  float: left;
}

.services_home_right {
  width: 500px;
  height: 250px;
  padding: 50px;
  border: none;
  float: right;
}

.services_home_centre {
  width: 500px;
  height: 250px;
  padding: 50px;
  border: none;
  margin: auto;
}

/* Employee Page Format - Sam */

.employee-format {
	padding: 50px;
	border:none;
	margin:auto;
}

/* Styling for Christmas Cheer Button - Ben Colgan */

.cheer {
padding-top: 5%;
padding-bottom: 5%;
padding-left: 40%
}
	
/* Sam: Footer */ 
/* Reference: https://stackoverflow.com/questions/3525581/how-to-align-footer-div-to-the-bottom-of-the-page */
/* Reference: https://www.dummies.com/web-design-development/site-development/how-to-style-paragraphs-headings-and-footers-with-css3/ */

#footer {
  height: 50px;
}

#footer-content {
  background-color: white;
  height: 32px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
background-color: red;
color: white;
}

/* Emily */
.SleighCompPhoto {
  text-align: center;
  background-color: red;
}

/* Sam */
/* Reference: https://css-tricks.com/overriding-default-button-styles/ */

.button {border: 1px;
border-color: green;
    padding: 5px 5px;
    margin: 0;
    text-decoration: none;
    background: red;
    color: white;
    cursor: pointer;
    text-align: center;
}


